<h3><%= @quiz.title %></h3>


<% if !(@quiz.questions.empty?) %>

  <% @quiz.questions.each do |q| %>
<ol>
   <%= link_to "#{q.content}", question_path(q) %>
</ol>
  <% q.answers.each do |a| %>
  <li><%= a.result %></li>
  <% end %><br>
  <% end %>
<% else %>
  <p>This Quiz has no questions </p>
  <p>Add Questions To Your Quiz</p>
  <% end %><br>

  <%= link_to 'Add New Question', new_question_path %>

  <%= link_to 'Submit Quiz', user_path(@quiz.user_id) %>

  <%= link_to 'Edit Quiz', edit_quiz_path  %>

  <%= link_to 'HomePage', user_path(current_user) %>
