<h3><%= @quiz.title %></h3>


<% if !(@quiz.questions.empty?) %>
<% @quiz.questions.each do |q| %>
<li><%= q.content %></li>

  <% q.answers.each do |a| %>
  <li><%= a.result %></li>

  <% end %>
  <% end %>
<% else %>
  <p>This Quiz has no questions </p>
  <p>Add Questions To Your Quiz</p>
  <% end %>

  <%= link_to 'Add New Question', new_question_path %>

  <%= link_to 'Homepage', user_path(@quiz.user_id) %>
