<h3>Take Quiz</h3>

<h2>Quiz Title: <%= @quiz.title %></h2>

<%= form_tag "/quizzes/#{@quiz.id}/take_quiz", method: 'POST' %>
<% @quiz.questions.each do |q| %>
<%=q.content%><br>
<% q.answers.each do |a| %>
<%= a.result %>
<%=check_box_tag("#{a.question_id}","#{a.result}",false) %><br>
<% end %>
<%end%>
<%= submit_tag "Submit Quiz" %>
