<h1>Welcome to the Quizzinaire</h1>
<h3>To get started..Login or Sign-up </h3>

<h3>Login</h3>
<% if flash[:message] %>
<p><%= flash[:message] %></p>
<% end %>

<%= form_tag '/login' do  %>
<label for = "name"> Username</label>
<%=text_field_tag :'user[username]'  %><br><br>
<label for = "password"> Password</label>
<%=text_field_tag :'user[password]'  %><br><br>
<%= submit_tag 'Login' %>


<%= link_to '<button type="button">Sign-Up</button>'.html_safe, new_user_path %>

<% end %>
